USE [master]
GO
/****** Object:  Database [Album]    Script Date: 14/7/2026 08:39:22 ******/
CREATE DATABASE [Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 14/7/2026 08:39:22 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 14/7/2026 08:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[idFigurita] [int] IDENTITY(1,1) NOT NULL,
	[img] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[idSeleccion] [int] NOT NULL,
	[numeroCamiseta] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[idFigurita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiguritaXUsuario]    Script Date: 14/7/2026 08:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiguritaXUsuario](
	[idFiguritaXUsuario] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[idFigurita] [int] NOT NULL,
 CONSTRAINT [PK_FiguritaXUsuario] PRIMARY KEY CLUSTERED 
(
	[idFiguritaXUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 14/7/2026 08:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[idSeleccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[idSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([idFigurita], [img], [nombre], [descripcion], [idSeleccion], [numeroCamiseta]) VALUES (1, N'images/jugadores/messi.svg', N'Lionel Messi', N'Delantero de la Selección Argentina', 1, N'10')
INSERT [dbo].[Figuritas] ([idFigurita], [img], [nombre], [descripcion], [idSeleccion], [numeroCamiseta]) VALUES (2, N'images/jugadores/alvarez.svg', N'Julián Álvarez', N'Delantero de la Selección Argentina', 1, N'9')
INSERT [dbo].[Figuritas] ([idFigurita], [img], [nombre], [descripcion], [idSeleccion], [numeroCamiseta]) VALUES (3, N'images/jugadores/emiliano.svg', N'Emiliano Martínez', N'Arquero de la Selección Argentina', 1, N'23')
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([idSeleccion], [nombre]) VALUES (1, N'Argentina')
INSERT [dbo].[Selecciones] ([idSeleccion], [nombre]) VALUES (2, N'Brasil')
INSERT [dbo].[Selecciones] ([idSeleccion], [nombre]) VALUES (3, N'Francia')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Selecciones] FOREIGN KEY([idSeleccion])
REFERENCES [dbo].[Selecciones] ([idSeleccion])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Selecciones]
GO
ALTER TABLE [dbo].[FiguritaXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaXUsuario_Figuritas1] FOREIGN KEY([idFigurita])
REFERENCES [dbo].[Figuritas] ([idFigurita])
GO
ALTER TABLE [dbo].[FiguritaXUsuario] CHECK CONSTRAINT [FK_FiguritaXUsuario_Figuritas1]
GO
USE [master]
GO
