@{
    ViewData["Title"] = "Home Page";
}

    <h1>Álbum Mundial 2026</h1>

    <div class="contenedorInicio">
        <div class="opcionInicio">
            <a href='@Url.Action("Album")'>Ver tu Álbum</a>
        </div>
        <div class="opcionInicio">
            <a href='@Url.Action("Sobre")'>Abrir un Sobre</a>
        </div>
    </div>