@{
    ViewData["Title"] = "Home Page";
}

    <h1>Álbum Mundial 2026</h1>
    <div class="contenedorInicio">
        <div class="opcionInicio">
            <a href='@Url.Action("Album")'>Ver Álbum</a>
        </div>
        <div class="opcionInicio">
            <a href='@Url.Action("Sobre")'>Abrir Sobre</a>
        </div>
    </div>