h1
{
  text-align: center;
  margin-top: 2%;
}
.contenedorInicio
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcionInicio
{
  border: 1px solid black;
  padding: 2%;
  margin-left: 2%;
}