h1
{
  text-align: center;
  margin-top: 2%;
}
.contenedorInicio
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcionInicio {
  display: inline-block;
  background: silver;
  color: black;
  border: 1px solid black;
  margin-left: 2%;
  padding: 15px 28px;
  border-radius: 999px;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.opcionInicio:hover {
  background: gold;
  transform: translateY(-3px);
}
